// ma-footer-section
.ma-footer-section {
  padding-top: 110px;

  background-color: var(--text-color-950);
  @include large-screen {
    padding-top: 80px;
  }
  @include screen-992 {
    padding-top: 60px;
  }

  .single-foo-widget {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @include screen-992 {
      gap: 12px;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include screen-992 {
      gap: 4px;
    }

    &.contact-list {
      gap: 17px;

      @include screen-992 {
        gap: 9px;
      }
    }

    li a {
      color: var(--white-color);
      font-size: 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      transition: var(--transition);

      @include screen-992 {
        font-size: 14px;
      }

      &:hover {
        color: var(--secondary-color-700);
      }
    }
  }

  h5 {
    color: var(--white-color);
    text-transform: capitalize;
  }

  .info-box {
    span {
      display: block;
      color: var(--white-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;

      @include screen-992 {
        font-size: 14px;
      }
    }
  }

  .list-with-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    @include screen-992 {
      gap: 12px;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    span {
      display: inline-block;
      color: var(--white-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;

      @include screen-992 {
        font-size: 14px;
      }
    }
  }

  .divider {
    margin-top: 110px;
    width: 100%;
    height: 1px;
    background: #6b788e;
    @include large-screen {
      margin-top: 80px;
    }
    @include screen-992 {
      margin-top: 60px;
    }
  }

  .copyright-area {
    padding: 48px 0;
    text-align: center;

    @include screen-992 {
      padding: 24px 0;
    }

    p {
      color: var(--white-color);
      line-height: 160%;
    }
  }
}

.social-icons-wraper {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  .social-icon-link {
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      transition: var(--transition);

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.footer-logo {
  width: 100%;
  max-width: 221px;
  object-fit: contain;

  @include screen-992 {
    max-width: 180px;
  }
}
