@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

$primary-shade-50: #ffede5;
$primary-shade-100: #ffdfd1;
$primary-shade-200: #ffc0a3;
$primary-shade-300: #ff9d70;
$primary-shade-400: #ff7d42;
$primary-color: #ff5e15;
$primary-shade-600: #db4400;
$primary-shade-700: #a33300;
$primary-shade-800: #702300;
$primary-shade-900: #381200;
$primary-shade-950: #1a0800;

$secondary-shade-50: #e5eaff;
$secondary-shade-100: #d1daff;
$secondary-shade-200: #a3b4ff;
$secondary-shade-300: #708bff;
$secondary-shade-400: #4266ff;
$secondary-color: #1541ff;
$secondary-shade-600: #0029db;
$secondary-shade-700: #001fa3;
$secondary-shade-800: #001570;
$secondary-shade-900: #000b38;
$secondary-shade-950: #00051a;

$span-color: #5f3dc4;

$text-color: #ffffff;
$text-shade-800: #cccccc;
$text-shade-700: #999999;
$text-shade-600: #666666;
$text-shade-500: #333333;
$text-shade-400: #191919;
$text-shade-300: #0d0d0d;

$error-state-color: #f63333;
$warning-state-color: #f8bf2d;
$info-state-color: #2f5cfb;
$success-state-color: #1ec24c;
$disable-state-color: #d8d8d8;

$bg-dark-1: #030712;
$bg-dark-2: #161a1e;
$bg-dark-3: #141c26;

$bg-white-1: #ffffff;
$bg-white-2: #e0e0e0;
$bg-white-3: #adadad;

$bg-counter-box: #38117f;
$bg-calcultor-section: #04032e;
$bg-disable-form: #35345d;
$bg-choose-us: #240255;
$counter-member-bg: rgba(47, 92, 251, 0.1);
$countries-counter-bg: rgba(9, 232, 227, 0.1);
$countries-hover: #09e8e3;
$about-bg: #fffafd;
$invest-bg: #ebfbee;
$news-bg: #fff9f3;

$form-color: #f8f8f7;

$input-border-color: #766b66;

// $business-plan: linear-gradient(180deg, #0979B6 0%, #184ACA 108.15%);

$box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);

$template-font: "Jost", sans-serif;
$heading-font: "Jost", sans-serif;
$date-font: "Jost", sans-serif;
$footer-font: "Jost", sans-serif;

$transition-base: all 0.8s;

:root {
  // Template Font Name
  --template-font: "Jost", sans-serif;

  // Template Color Name
  // primary
  --primary-color-950: #00071f;
  --primary-color-900: #000e3d;
  --primary-color-800: #001b75;
  --primary-color-700: #002ab3;
  --primary-color-600: #0037eb;
  --primary-color-500: #295bff;
  --primary-color-400: #527aff;
  --primary-color-300: #809dff;
  --primary-color-200: #a8bdff;
  --primary-color-100: #d6e0ff;
  --primary-color-50: #ebefff;

  // secondary
  --secondary-color-950: #1f0800;
  --secondary-color-900: #3d1000;
  --secondary-color-800: #751f00;
  --secondary-color-700: #b33000;
  --secondary-color-600: #eb3e00;
  --secondary-color-500: #ff6229;
  --secondary-color-400: #ff8052;
  --secondary-color-300: #ffa180;
  --secondary-color-200: #ffbfa8;
  --secondary-color-100: #ffe1d6;
  --secondary-color-50: #fff0eb;

  // text or Neutral (Gray)
  --text-color-950: #00071f;
  --text-color-900: #1a2035;
  --text-color-800: #33394c;
  --text-color-700: #404557;
  --text-color-600: #666a79;
  --text-color-500: #8c8f9a;
  --text-color-400: #adb0b7;
  --text-color-300: #bfc1c7;
  --text-color-200: #d4d5d9;
  --text-color-100: #e6e6e9;
  --text-color-50: #f7f8f8;

  // tertiary
  --tertiary-color-950: #041007;
  --tertiary-color-900: #08210e;
  --tertiary-color-800: #10421b;
  --tertiary-color-700: #186329;
  --tertiary-color-600: #208436;
  --tertiary-color-500: #28a745;
  --tertiary-color-400: #3ad05c;
  --tertiary-color-300: #6bdc85;
  --tertiary-color-200: #9ce7ad;
  --tertiary-color-100: #cef3d6;
  --tertiary-color-50: #e6f9eb;

  // positive
  --positive-color-950: #031109;
  --positive-color-900: #082615;
  --positive-color-800: #104c2a;
  --positive-color-700: #17723f;
  --positive-color-600: #1f9854;
  --positive-color-500: #27be69;
  --positive-color-400: #45d985;
  --positive-color-300: #73e2a4;
  --positive-color-200: #a2ecc2;
  --positive-color-100: #d0f5e1;
  --positive-color-50: #e6faee;

  // negative
  --negative-color-950: #1d0206;
  --negative-color-900: #39040b;
  --negative-color-800: #730817;
  --negative-color-700: #ac0c22;
  --negative-color-600: #e5102e;
  --negative-color-500: #f2415a;
  --negative-color-400: #f5667a;
  --negative-color-300: #f78c9c;
  --negative-color-200: #fab3bd;
  --negative-color-100: #fcd9de;
  --negative-color-50: #feecee;

  // warning
  --warning-color-950: #1a1300;
  --warning-color-900: #382900;
  --warning-color-800: #6b4f00;
  --warning-color-700: #a37800;
  --warning-color-600: #d69d00;
  --warning-color-500: #ffbf0f;
  --warning-color-400: #ffcb3d;
  --warning-color-300: #ffd970;
  --warning-color-200: #ffe59e;
  --warning-color-100: #fff3d1;
  --warning-color-50: #fff8e5;

  // info
  --info-color-950: #00071f;
  --info-color-900: #000e3d;
  --info-color-800: #001b75;
  --info-color-700: #002ab3;
  --info-color-600: #0037eb;
  --info-color-500: #295bff;
  --info-color-400: #527aff;
  --info-color-300: #809dff;
  --info-color-200: #a8bdff;
  --info-color-100: #d6e0ff;
  --info-color-50: #ebefff;

  // base
  --white-color: #ffffff;
  --black-color: #030712;

  // Transition
  --transition: all 0.3s ease-in;

  // box shadow
  --box-shadow-1: 0px 8px 36px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-sm: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);

  // border
  --border-color-1: #e8e8e8;
  --input-border-color: #ced2d9;

  // ratting
  --ratting-star-color: #fac03c;
}
